<h1 style="text-align:center; color:blue">Model Building</h1> 
<sub style="text-align:center; color:red">Logistic Regression<sub>
<hr>
<hr>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [2]:
fullData = pd.read_csv("cleaned_data.csv",delimiter=',')
fullData.head()

,education,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,zscore
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,261.0,1.0,0.0,0.0,1.1,93.994,-36.4,4.857,5191.0,-0.563873
1,4.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,149.0,1.0,0.0,0.0,1.1,93.994,-36.4,4.857,5191.0,-0.563873
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,226.0,1.0,0.0,0.0,1.1,93.994,-36.4,4.857,5191.0,-0.563873
3,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,151.0,1.0,0.0,0.0,1.1,93.994,-36.4,4.857,5191.0,-0.563873
4,4.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,307.0,1.0,0.0,0.0,1.1,93.994,-36.4,4.857,5191.0,-0.563873

In [3]:
fullData.dtypes

education               float64
job_blue-collar         float64
job_entrepreneur        float64
job_housemaid           float64
job_management          float64
job_retired             float64
job_self-employed       float64
job_services            float64
job_student             float64
job_technician          float64
job_unemployed          float64
marital_married         float64
marital_single          float64
contact_telephone       float64
month_aug               float64
month_dec               float64
month_jul               float64
month_jun               float64
month_mar               float64
month_may               float64
month_nov               float64
month_oct               float64
month_sep               float64
day_of_week_mon         float64
day_of_week_thu         float64
day_of_week_tue         float64
day_of_week_wed         float64
poutcome_nonexistent    float64
poutcome_success        float64
y_yes                   float64
age                     float64
duration                float64
campaign                float64
pdays                   float64
previous                float64
emp.var.rate            float64
cons.price.idx          float64
cons.conf.idx           float64
euribor3m               float64
nr.employed             float64
zscore                  float64
dtype: object

In [8]:
print(fullData.columns)

Index(['education', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'marital_married',
       'marital_single', 'contact_telephone', 'month_aug', 'month_dec',
       'month_jul', 'month_jun', 'month_mar', 'month_may', 'month_nov',
       'month_oct', 'month_sep', 'day_of_week_mon', 'day_of_week_thu',
       'day_of_week_tue', 'day_of_week_wed', 'poutcome_nonexistent',
       'poutcome_success', 'y_yes', 'age', 'duration', 'campaign', 'pdays',
       'previous', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx',
       'euribor3m', 'nr.employed', 'zscore'],
      dtype='object')

<hr>

#### Split The Data Into Training And Test Sets.

In [11]:
X = fullData[['education', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'marital_married',
       'marital_single', 'contact_telephone', 'month_aug', 'month_dec',
       'month_jul', 'month_jun', 'month_mar', 'month_may', 'month_nov',
       'month_oct', 'month_sep', 'day_of_week_mon', 'day_of_week_thu',
       'day_of_week_tue', 'day_of_week_wed', 'poutcome_nonexistent',
       'poutcome_success', 'age', 'duration', 'campaign', 'pdays',
       'previous', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx',
       'euribor3m', 'nr.employed', 'zscore']]
X.shape

(41188, 40)

In [12]:
X.head(3)

,education,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,zscore
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,261.0,1.0,0.0,0.0,1.1,93.994,-36.4,4.857,5191.0,-0.563873
1,4.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,149.0,1.0,0.0,0.0,1.1,93.994,-36.4,4.857,5191.0,-0.563873
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,226.0,1.0,0.0,0.0,1.1,93.994,-36.4,4.857,5191.0,-0.563873

In [14]:
Y = fullData['y_yes']
Y.shape

(41188,)

#### Split the data into training and test sets.

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [16]:
len(X_train)

32950

<hr>
<hr>

### The data is all prepared for the modeling task.

<h1 style="text-align:center; color:red">Logistic Regression<h1>

In [17]:
logModel = LogisticRegression()
logModel.fit(X_train, y_train)

LogisticRegression()

In [18]:
prediction = logModel.predict(X_test)
print('Accuracy of Logistic regression model prediction on test set:{:.3f}'.format(logModel.score(X_test, y_test)))

Accuracy of Logistic regression model prediction on test set:0.914

#### Prediction By Generating The Metrics.
1-Confusion Matrix for the model.

In [20]:
confusionMatrix = confusion_matrix(y_test, prediction)
print(confusionMatrix)

[[7271  163]
 [ 548  256]]

2- Generate a Classification Report.

In [22]:
print(classification_report(y_test, prediction))

              precision    recall  f1-score   support

         0.0       0.93      0.98      0.95      7434
         1.0       0.61      0.32      0.42       804

    accuracy                           0.91      8238
   macro avg       0.77      0.65      0.69      8238
weighted avg       0.90      0.91      0.90      8238